  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300;1,400&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 } 
.condiner{
    width: 100%;
    height: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
} 
#sub-nav {
    height: 44px;
    background: darkblue;
    text-align: center;
    line-height: 40px;
}
#sup-nav  a {
    color: white;
    margin-left: 32px;
    font-weight: 600;
} 
 .logo img {
    width: 262px;
    margin-left: 125px;
}
.dropdownlist {
    display: flex;
    margin-right: -295px;
}
.dropdownlist p {
    display: inline;
    margin-right: 21px;
    font-family: 'Montserrat', sans-serif;
}
.dropdownlist p:hover{
    color: orange;
}
.dropdown{
    position:relative;
} 
 .drop-content{
    display: none;
    position: absolute; 
    text-align: left;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-width: 250px;
    border-radius: 10px; 
    border-radius: 2px;
     margin-top:10px;
    border-top: 2px solid brown;

} 
.drop-content a{
    display: block;
    text-decoration: none;
    color: black;
    text-align: left;
    padding: 10px 20px;
 }
.drop-content a:hover{
background-color: ghostwhite;
}
.dropdown p:hover{
    color: orange;
}
.drop-content a:hover{
    color:brown;
} 
.dropdown:hover.drop-content{
    display: block;
} 
.dropdown1{
position: relative;
}
.drop-content1{
position: absolute;
display:none;
text-align: center;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
width: 250px;
border-radius: 2px;
margin-top:20px;
border-top: 2px solid brown;
}
.drop-content1 a{
    display:block ;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    text-align: left;   
} 
 .drop-content1 a:hover{
background:ghostwhite;
}
.dropdown1 p:hover{
    color: orange;
}
.drop-content1 a:hover{
    color:brown;
}
.dropdown:hover .drop-content{
    display: block;
}  
 .dropdown1:hover .drop-content1{
    display: block;
}
.dropdown2{
position: relative;
}
.drop-content2{
position: absolute;
display: none;
text-align: center;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
width: 180px;
margin-top:20px;
border-top: 2px solid brown;
} 
.drop-content2 a{
    display: flex;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    text-align: left;
} 
.drop-content2 a:hover{
background:ghostwhite;
}
.dropdown2 p:hover{
    color: orange;
}
.drop-content2 a:hover{
    color:brown;
}
.dropdown2:hover .drop-content2{
    display:block;
}
.dropdown3{
    position: relative;
} 
.drop-content3{
    position: absolute;
    display: none;
    width: 200px;
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top:20px;
    border-top: 2px solid brown;
} 
 .drop-content3 a{
    display: flex;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    text-align: left;
} 
 .drop-content3 a:hover{
background-color: ghostwhite; 
}
.dropdown3 p:hover{
    color: orange;
}
.drop-content3 a:hover{
    color:brown;
}
.dropdown3:hover .drop-content3{
display: block;
} 

.dropdownlist p:hover{
    cursor: pointer;  
} 
.header{
    width: 100%;
    display: flex;
}
.text{
  max-width: 50%;  
}
.dckap{
    width: 50%;
    margin-top: 40px;
}
.dckap img {
    width: 92%;
    margin-left: 25px;
}
.header .text {
    margin-top: 83px;
    padding: 46px;
    margin-left: 40px;
} 
.header .text p {
    width: 95%;
    line-height: 27px;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: gray;
} 
.header.text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 39px;
    color:#00001a;
    font-weight: bold;
} 
.text button {
    width: 200px;
    border: none;
    background-color: brown;
    height: 40px;
    margin-top: 35px;
    border-radius: 21px;
    color: white;
    font-weight: bolder;
} 
 hr {
    margin-top: 20px;
    width: 71px;
    height: 3px;
    background-color: skyblue;
} 
 #nov-button button {
    width: 145px;
    font-weight: bold;
    height: 40px;
    background-color:brown;
    border-radius: 38px;
    border: none;
    color: white;
    margin: 115px;
} 
 #nov-button button:hover{
    cursor: pointer;
    opacity: 0.9;
}   

span a{
    color:white;
    margin-left: 20px;
}

  body{
    width: 100%;
    height: 100%;
}
 
/* ------------------------------------------------- */

/* ============================================== */

.integ{
    text-align: center;
    font-size: 191%;
    margin: 2%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    
}
hr{
    width: 5%;
    align-items: center;
    color: #0000ff47;
}

body{
    background-color: rgba(225, 232, 225, 0.41);
  
} 
.container{ 
    max-width:1547px; 
     width: 100vw; 
     height: 100vh;  
     font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
}
.box {
        width: 93%;
        height: 40%;
        display: flex;
        gap: 2%;
        padding: 4%;
        margin: 2%;
        /* flex-wrap: wrap; */
        
}
 #center{
    text-align: center;
}
/* #center + hr{
width: 200px auto;

} */
.jum{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: lighter;

    width: 1031px;
    padding: 1%;
    margin: 2% auto;
}
#erp{
    background-color: white;
    width: 129%;
    height: 230px;
    border-radius: 20px;
    font-size: 19px;
    text-align: center;
    font-weight: bolder;
    flex-wrap: wrap;
    
}
.box h2{
    margin-top: 13px;
}
#erp p {
    width: 93%;
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
  }
#erp #er{
    text-align: center;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
     margin-top: 13px;
     font-weight:bolder; 
     font-size: 16px; 
} 
.ecomers{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
        background-color: white;
        width: 129%;
        height: 230px;
        border-radius: 20px;
        margin: auto;
        text-align: center;
}
.ecomers p{
    font-family: 'Montserrat', sans-serif;
    width: 93%;
    font-size: 16px;
    text-align: center;                      
}
#ec {
    text-align: center;
}
#crm{
     background-color: white;
     font-size: 19px;
     width: 129%;
     height: 230px;
     border-radius: 20px;
     margin: auto;
    text-align: center;
}
#crm p{
  
    font-family: 'Montserrat', sans-serif;
    width: 93%;
    font-size: 16px;
    text-align: center;                                         
}
#cr{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#da{
    text-align: center;
}
#data{
    background-color: white;
    width: 129%;
    height: 230px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    margin: auto;
    text-align: center;
}
#data p{
    font-family: 'Montserrat', sans-serif;
    width: 93%;
    font-size: 16px;
    text-align: center;  
}
#erp .button1 {
    height: 31px;
    width: 77%;
    margin-top: 20px;
    border-radius: 19px;
    background-color: rgb(185 31 31);
}
#erp #er{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}


#data span{
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}
.ecomers .button2 {
    height: 31px;
    width: 77%;
    margin-top: 20px;
    border-radius: 19px;
    background-color: rgb(185 31 31);
    font-family: 'Montserrat', sans-serif;
}
.ecomers span{
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}

#crm .button3 {
    height: 31px;
    width: 77%;
    margin-top: 20px;
    border-radius: 19px;
    background-color: rgb(185 31 31);
    font-family: 'Montserrat', sans-serif;
}
#crm span{
    font-size: large;
}
#data .button4 {
    height: 31px;
    width: 77%;
    margin-top: 20px;
    border-radius: 19px;
    background-color: rgb(185 31 31);
    font-family: 'Montserrat', sans-serif;
}
#data span{
    font-size: large;
}
.one{
    margin-right: 262px;
}
#pic1 img {
    width: 54%;
}  

#pic1{
display: flex;
margin-top: 30px;
max-width: 100%;
}

#pic1 img {
    width: 50%;
    margin-left: 163px;
    max-width: 50%;
}
.one1{
    width: 50%;
}
 .one {
margin-right: 40px;
width:50%;
margin-top: 40px
 }

#pic1 h1 p {
    width: 233px;
    font-weight: lighter;
    font-size: 16px;
    text-align: start;
    margin: 11px 0;
    font-family: 'Montserrat', sans-serif;
} 
#pic2{
margin-top: 110px;
max-width: 100%;
}
#pic2 .align {
    width: 60%;
    margin-left: 56px;
}
#pic2 .align2{
    width: 50%;
}
#pic2 p{
    font-size: 16px;
    width: 41%;
    font-weight: lighter;
    margin-top: 34px;
    
}
#pic2 img {
    margin-left: 110%;
    margin-top: -12px;
    position: relative;
    top: -189px;
    bottom: 10px;
    width: 56%;
    height: 88%;
}

#pic2 h1 a{
    color: rgb(190, 41, 41);
    font-size:16px; 
}

 #pic3 img{
        padding: 0%;
        width: 64%;
        height: 20%;
        margin-top: -18%;
        margin-left: 11%; 
 }

.we h1{
   text-align: center;  
   font-family: 'Montserrat', sans-serif;
    
}

#pic3 {
    display: flex;
    margin-top: -10%;
}
#pic3 img {
    margin-top: 0px;
    width: 497px;
    height: 392px;
}
#pic3 p {
    font-size: 16px;
    font-weight: lighter;
    width: 44%;
    margin: 9px 3px;
    text-align: start;
    color: black;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}
#pic3 h1{
    
    font-size :25px;
    width: 79%;
    margin-left: 12%;
    text-align: start;
    margin-top: 52px;
    font-family: 'Montserrat', sans-serif;
  }
#pic3 a{
    /* color: rgb(190, 41, 41); */
    font-size: 16px;  
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
} 
.four {
    margin-top: 50px;
    width: 50%;
    margin-left: 73px;
    font-family: 'Montserrat', sans-serif;
}
.four4{
    width: 50%;
}
#pic4 {
    display: flex;
    margin-top: 50px;
    width: 100%;
}
#pic4 h1 {
    text-align: left;
    width: 55%;
    font-size: 25px;
}
#pic4 p {
    font-weight: lighter;
    font-size: 15px;
    color: black;
    margin: 8px 0px;
    width: 46%;
}
.four a {
    color: rgb(190, 41, 41);
    font-weight: bolder;
}
    
#pic4 h1 a{
    color: rgb(190, 41, 41);
    font-size: 16px;  
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;

}   
#pic4 img {
    width: 64%;
    height: auto;
}

/* ----------------------------------------------------- */
 body{
    background-image: "pic5.jpg";
}
.container3{
    background-color: rgba(225, 232, 225, 0.41);
    display: flex;
    padding: 6%;
    font-family: 'Montserrat', sans-serif;
    

}

.pic5 img{
    width: 86%;
    height: 57%;
    border-radius: 2%;
    
}
.pic5 p{
    width: 62%;
    
}

.pic6 img{
    
        width: 68%;
        height: 48%;
        border-radius: 9% 9% 3% 3%;
        padding-top: 33px;
        margin-left: -2%;
}

.pic6 p {
    width: 51%;
}
.pic6 h1{
    text-align: left;
    margin:0;
}
.pic6 a{
    color: rgb(190, 41, 41);
    font-size: 20px;  
    
}

a span:hover{
   
}  


.container4 img{
    width: 10% auto; 
    

    
     height: 20px; 
 } 

#icon2{
    display: none;
}
 #icon1:hover+#icon2{
    cursor:cell;
    display:inline-block; 
 
 } 
#icon1:hover #icon1{
    display: none; 
} 
/* =========anna kuduthadhu */
 #icon2 {
    display: none;
}

#icon1:hover+#icon2{
    display: inline-block;
}

#icon1:hover+#icon1{
    display: none;
} 
#con3{
    display: flex;
    margin: 10%;
    padding: 7%;
}
#pic5{
    width: 50%;
    height: 60%;
    
}
#pic5 img{
    width: 69%;
    height: 15x;
    border-radius: 3%;

}
#pic5 p{
    width: 65%;
}
#pic6 img{
    height: 20%;
    width: 40%;
}
#pic6{
    height: 411px;
    width: 77%;
  
}
#pic6 p{
    width: 68%;
}
#pic6 h1{
    text-align: left;
    margin: 0;
}
.one a{
    color: rgb(190, 41, 41);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.align p{
    font-family: 'Montserrat', sans-serif;

}
.align a{
    font-family: 'Montserrat', sans-serif;
}
.four a{
    font-family: 'Montserrat', sans-serif;
}
#cc{
    color: rgb(190, 41, 41);
}



@media (max-width:480px){
    /* .header{
        width: 100%;
        display: flex;
    } */
    .text{
      max-width: 40%;  
      
    }
    .dckap{
        width: 30%;
        height: 30px;
        margin-top: 40px;
    }
    .dckap img {
        width: 80%;
        height: 200px;
        /* margin-left: 25px; */
        margin-top:60px ;
    }
    .header .text {
        margin-top: 83px;
        padding: 46px;
        margin-left: 40px;
        
    } 
}